@{
    ViewData["Title"] = "Home Page";
}

@inject Microsoft.AspNetCore.SpaServices.Prerendering.IVuePrerenderer Prerenderer

@{
    var result = await Prerenderer.Render("prerender");
}

<div id="app" style="height: 220px;">@Html.Raw(result.Html)</div>
<div id="app2" style="height: 220px;">@Html.Raw(result.Html)</div>

@section styles {
    @Html.Raw(result.Styles)
}

@section scripts {
    @Html.Raw(result.Scripts)
}
