@{
    ViewData["Title"] = "Home Page";
}

<div id="app" asp-prerender-module="prerenderer"></div>
<div id="app2" asp-prerender-module="prerenderer"></div>

@section scripts {
    <script src="~/js/client.js"></script>
}